.l-wrapper {
  max-width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.a-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 32px;
  border: 1px solid #121212;
  border-radius: 2px;
  color: #121212;
  font-weight: 500;
  white-space: nowrap;
  transition-property: background-color, color;
  transition-duration: 150ms;

  &:hover {
    background-color: #121212;
    color: white;
  }
}

.a-button--filled {
  background-color: #121212;
  color: white;

  &:hover {
    background-color: white;
    color: #121212;
  }
}
